.DS_Store
.vscode
CMakeFiles/
elf2uf2/
generated/
pico-sdk/
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Makefile
cmake_install.cmake
*.bin
*.dis
*.elf
*.elf.map
*.hex
*.uf2
*.ld
_deps/
pioasm/
pioasm-install/
rc-switch-pico/
picotool/
